@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;700&family=Edu+QLD+Beginner:wght@500;600;700&display=swap');

body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    
}

:root {
  --primary: #7f95b8;
  --secondary: #f0e962;
  --accent: #fa1919;
}

.brand {
  font-size: 4em;
  font-weight:500;
  letter-spacing: 0.04 ;
  line-height: 2.0em;
}

.brand span {
    font-weight: bolder;
    color: var(--accent);
}

.nav-bar {
  background-color: var(--primary);
  color: var(--secondary) 

}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 1.5em;

}

.menu {
  display:flex;
  flex-direction:column;
  text-align: right;
  font-size: 1.25em;
  line-height: 1.5em;
}


.menu-toggle:hover{
  cursor: pointer;
  color: var(--accent);

}

.menuburger {
  height: 3em;
  width: 1.5em;
}

.menu-item {
    margin-top: 1.5em;
}

.menu-item:hover {
    color: var(--accent);
    background: whitesmoke;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    flex-direction: row;
  }
  .menu-item {
    margin-top: 0;
    margin-left: 2rem;
  }
  .menu-toggle {
    display: none;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    width: 1280px;
  }
}

.logo {
    background-color: var(--primary);
    padding: .75em;
    
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.recentcatch {
  background-color: var(--primary);
  padding: .75em;
  display:flex;
  flex-direction: column;
}

.card {
  vertical-align: middle; 
  flex: 1;
  width: 200px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}

.catchinfo {
  vertical-align: middle;
  
}

.recentcatch h3 {
  color: #fa1919;
  font-size:x-large;
  font-weight: 600;
  border-style:solid;
  border-color: #f0e962;
  text-align: center;
  border-bottom: 10px;
}

#recentcatch table{
  
  color:#f0e962;
  font-size: large;
  border-style: double;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;    
}


.footer {
  color:#f0e962;
  background-color: var(--primary);
  padding: .75em;
  text-align: center;
}

.footer a:hover{ 
  color:aliceblue;
  background-color: black;
}

